/*CSS FOR DATA TABLES*/

.tab1 {
  border: 2px solid black;
  margin: auto;
  margin: 2%, 2%, 2%, 2%;
  padding: 5px;
  text-align: center;

}

.tab2 {
  margin: auto;
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}

.tableRow1 {
  border: 2px solid black;
}

.tableTitles {
  border: 2px solid black;
}
.total {
  font-weight: bolder;;
}
.th1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: center;
}
 .th2 {
   text-transform: uppercase;
   letter-spacing: 0.1em;
   font-size: 90%;
   border-bottom: 2px solid #111111;
   border-top: 1px solid #999;
   text-align: left;
 }

/*CSS FOR DATA-PAGE*/
.camper {
  align-content: center;
  width: 70%;
  height: auto;
  display: block;
  margin-bottom: 1%;
  padding: auto;

}
