.full {
  width: 100%;
}

body {
  background-color: black;
}

li {
  color: white;
}

h2 {
  color: white;
  font-family: serif;
  text-decoration: underline;
}

p {
  color: white;
}

a {
  color: white;
}
